.igt {
 background-color: transparent;
 border-color:transparent;
  border-bottom : 1px red;
}
.form-control:focus {
 border-color: transparent !important;
 border-bottom-color: red !important;
 border-bottom-width: 2px;
 box-shadow: inset 0 1px 10px transparent, 0 0 50px transparent !important;
}