.questions {
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
 padding: 5px 10px;
 margin: 60px 60px;
 background: #B993D6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* Grandienta.io */
 /* UIgradient */
}

@media only screen and (max-width: 728px) {
 .questions {
  margin: 40px 20px;
 }
}
@media only screen and (max-width: 400px) {
 .questions {
  margin: 40px 0px;
 }
}